@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um NOVO PAPEL";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <main>
    <div class="tabelainteira">
        <div class="headertabela">
            Registro de um NOVO PAPEL
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Nome</label>
                        <input name="nome" value="@Model" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-10">
                <input type="submit" value="Adicionar Papel"
                       class="btn btn-retornar" />

                @Html.ActionLink("Retornar para a listagem de PAPÉIS", "Index",
                null, new { @class = "btn btn-retornar" })

            </div>
            <br />
            <br />
        </div>
    </div>
    </main>
}
