@model IEnumerable<GORDON_STORE_ALPHA.Models.ViewModels.ProdutoVM>

@{
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Listagem de PRODUTOS";
}

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Em destaque</h2>
                    <a href="~/Produtos/Index">ver todos os produtos -></a>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="down-content">
                            <a href="#"><h4>@Html.DisplayFor(modelItem => item.Nome)</h4></a>
                            <h6>@Html.DisplayFor(modelItem => item.ProdutoId)</h6>
                            <span>@Html.DisplayFor(modelItem => item.Categoria.Nome)</span>
                        </div>
                        <a href="/Shop/product-details/@item.ProdutoId" class="primary-btn" style="margin-top:35px">Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

