@model Modelo.Cadastro.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um novo Produto";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Registro de um NOVO PRODUTO
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Produts/_PartialEditContentPanel.cshtml", Model)
        </div>
</div>
}
@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}