<div id="PopUpCart">
    <div id="header-cart">
        <a href="javascript:abrir('PopUpCart')">
            <img src="~/Images/Gordon/back-white.png" alt="" id="cartback">
        </a>
        <h3>Minha cesta</h3>
        <div id="cart-img">
            <img src="~/Images/Gordon/cart.svg" alt="">
            <div id="cart-indicator">
                <div>
                    <p>1</p>
                </div>

            </div>
        </div>
    </div>

    <div id="body-cart">
        <div class="container-product-cart">
            <div>
                <img src="~/Images/Gordon/hq-miranha.png" alt="">
            </div>
            <div class="content-cart">
                <h2>HQ O ESPETACULAR HOMEM ARANHA DE VOLTA AO LAR</h2>
                <div class="internal-content1">
                    <div class="itens-cart">
                        <p>Preço: </p>
                        <p>R$ 89,90</p>
                    </div>
                    <div class="itens-cart">
                        <p>Quantidade: </p>
                        <p>1</p>
                    </div>
                </div>
                <div class="itens-cart">
                    <p>Código do produto: </p>
                    <p>0112352</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-cart">
        <a href="">Finalizar pedido</a>
    </div>
</div>
