table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

.input-validation-error {
    border: 1px solid red;
}
div.adminarea a {
    color: white;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

span.loader {
    display: none;
}

span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}







.ib {
    display: inline-block !important;
}

ul.adminarea {
    position: relative;
    top: 15px;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    z-index: 1;
}

    .ajaxbg span {
        position: absolute;
        top: 30%;
        left: 50%;
    }

form.paypalform {
    position: absolute;
    left: -2000px;
}

.row {
    position: relative;
}

