@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
    display: grid;
    min-height: 100%;
}

body {
    display: grid;
    background: #ffffff;
    font-family: 'Lato', sans-serif, sans-serif;
    text-transform: uppercase;
}

.container-detalhe {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 570px;
    height: 350px;
    background: #2E0F46;
    box-shadow: 5px 5px 15px #2e0f464f;
    border-radius: 10px;
}

.p {
    font-size: 0.6em;
    color: #ffffff;
    letter-spacing: 1px;
}

.h1 {
    font-size: 1.2em;
    color: white;
    margin-top: -5px;
}

.h3 {
    font-size: 1em;
    color: white;
    margin-top: -5px;
}

.h2 {
    color: #ffffff;
    margin-top: -5px;
}

.produto {
    margin: 35px 62px;
    height: 279px;
}

.product {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10%;
    left: 60%;
}

.buttons {
    margin-top: 120px;
}

    .buttons button {
        background: #ffffff;
        padding: 10px;
        display: inline-block;
        outline: 0;
        border: 0;
        margin: -1px;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #2E0F46;
        cursor: pointer;
    }

buttons button:hover {
    background: #1e0a2e;
    transition: all 0.4s ease-in-out;
}

.add {
    width: 67%;
}

.like {
    width: 22%;
}
