@model GORDON_STORE_BETA.Modelo.Tabelas.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de uma Categoria";
}
<main>
    <div class="tabelainteira">
        <div class="headertabela">
            VISUZALIZANDO DADOS DE UMA CATEGORIA
        </div>
        <div class="panel-body">
            @Html.Partial("~/Areas/Tabelas/Views/Categoria/_PartialDetailsContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Alterar", "Edit", new { id = Model.CategoriaId },
            new { @class = "btn btn-retornar" })
            @Html.ActionLink("Retornar para a listagem", "Index", null,
            new { @class = "btn btn-retornar" })
        </div>
    </div>
</main>
