@model MVC.Project.OnlineFurnitureSystem.Models.ViewModels.Account.UserNavPartialVM

    <a href="/account/user-profile" style="color:blue">Welcome:<strong> @Model.FirstName @Model.LastName</strong></a>
