@model Modelo.Cadastro.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um novo Produto";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <main>
        <div class="tabelainteira">
            <div class="headertabela">
                REGISTRO DE UM NOVO PRODUTO
            </div>
            <div class="panel-body">
                @Html.Partial("~/Areas/Cadastro/Views/Produto/_PartialEditContentPanel.cshtml", Model)
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2">
                    <input type="submit" value="Adicionar Produto" class="btn" />
                    @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null,
                    new { @class = "btn btn-retornar" })
                </div>
                <br />
                <br />
            </div>
        </div>
    </main>

}
