@model Modelo.Cadastro.Produto

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = Model.Nome;
}
<div id="breadcrumb" style="text-align:left !important">
</div>

<div class="container-detalhe">
    <div class="images">
        <img src="hq-miranha.png" class="produto" />
    </div>

    <div class="product">
        <p class="p">Histórias em quadrinho</p>
        <h1 class="h1">Homem-Aranha: De Volta ao Lar</h1>
        <h3 class="h3">Marvel</h3>
        <h2 class="h2">R$ 150</h2>

        <div class="buttons">
            <button class="add" class="button">carrinho</button>
            <button class="like" class="button"><span>♥</span></button>
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <div class="addtocart">
        <a class="addtocart"><i class="fa fa-shopping-cart"></i> Adicionar ao carrinho</a>
        @*<span class="loader">
                <img src="~/Content/img/ajax-loader.gif" />
            </span>*@
        @*<span class="ajaxmsg">The product has been added to your cart.</span>*@
    </div>

}
else
{
    <a href="/account/login" class="primary-btn">Entre com uma conta para adicionar o produto ao carrinho</a>

}

<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section Scripts {

    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script>
$(function () {

    $(".fancybox").fancybox();

    $("a.addtocart").click(function (e) {
        e.preventDefault();

        $("span.loader").addClass("ib");

        var url = "/cart/AddToCartPartial";

        $.get(url, { id: @Model.ProdutoId }, function (data) {
            $(".ajaxcart").html(data);
        }).done(function () {
            $("span.loader").removeClass("ib");
            $("span.ajaxmsg").addClass("ib");
            setTimeout(function () {
                $("span.ajaxmsg").fadeOut("fast");
                $("span.ajaxmsg").removeClass("ib");
            }, 1000);
        });
    });



});
    </script>

}