@model GORDON_STORE_BETA.Areas.Seguranca.Models.UsuarioViewModel

@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    ViewBag.Title = "Cadastre-se";
}

<main>
    <!-- multistep form -->
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">DADOS PESSOAIS</li>
            <li>CONTA</li>
            <li>ENDEREÇO</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">PASSO 1 PARA CRIAR SUA CONTA</h2>
            <p>NOME:</p>
            <div class="flexform">
                <input type="text" name="Nome" placeholder="Primeiro nome" />
                <input type="text" name="Sobrenome" placeholder="Sobrenome" />
            </div>
            <p>CPF:</p>
            <input type="text" name="Cpf" placeholder="000.000.000-00" />
            <p>DATA DE NASCIMENTO:</p>
            <input type="text" name="DataNascimento" placeholder="dd/mm/aaaa" />
            <p>SEXO:</p>
            <select name="sexo" class="personalizar-select">
                <option value="Feminino">Feminino</option>
                <option value="Masculino">Masculino</option>
            </select>
            <input type="button" name="next" class="next action-button" value="Próximo" />
            <span>
                <p>Já tem conta?</p>
                <a href="#">Fazer login</a>
            </span>
        </fieldset>

        <fieldset>
            <h2 class="fs-title">PASSO 2 PARA CRIAR SUA CONTA</h2>
            <p>E-MAIL:</p>
            <input type="text" name="Email" placeholder="E-mail" />
            <p>USERNAME:</p>
            <input type="text" name="UserName" placeholder="Nome de usuário" />
            <p>CRIE UMA SENHA:</p>
            <input type="password" name="Senha" placeholder="Crie aqui uma senha para sua conta" />
            <p>CONFIRMAR SENHA:</p>
            <input type="password" name="confsenha" placeholder="Confirme sua senha" />
            <input type="button" name="previous" class="previous action-button" value="Voltar" />
            <input type="button" name="next" class="next action-button" value="Próximo" />
        </fieldset>

        <fieldset>
            <h2 class="fs-title">PASSO 3 PARA CRIAR SUA CONTA</h2>
            <div class="flexform">
                <div>
                    <p>ESTADO:</p>
                    <input type="text" name="Estado" placeholder="Estado" />
                </div>
                <div>
                    <p>CIDADE:</p>
                    <input type="text" name="Cidade" placeholder="Cidade" />
                </div>
            </div>
            <div class="flexform">
                @*<div>
                <p>CEP:</p>
                <input type="text" name="Cep" placeholder="00000-00" />
            </div>*@
                @*<div>
                <p>BAIRRO:</p>
                <input type="text" name="Bairro" placeholder="Bairro" />
            </div>*@
            </div>
            <p>RUA:</p>
            <input type="text" name="Rua" placeholder="Rua" />
            <p>COMPLEMENTO:</p>
            <input type="text" name="Complemento" placeholder="Complemento (opcional)" />
            <input type="button" name="previous" class="previous action-button" value="Voltar" />
            <input type="submit" value="CADASTRAR" class="submit action-button" />
            
        </fieldset>
    </form>
</main>

