
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home | Gordon Store";
}

<h1 class="homeh1">
    &lt;create&gt;
    <br>
    &lt;read&gt;
    <br>
    &lt;update&gt;
    <br>
    &lt;delete&gt;
</h1>
   
